applications/sample/wifi-iot/app/BMP280
applications/sample/wifi-iot/app/chapter_06
applications/sample/wifi-iot/app/hr_so_detect
applications/sample/wifi-iot/app/module_driver
applications/sample/wifi-iot/app/module_test
applications/sample/wifi-iot/app/proj3
applications/sample/wifi-iot/app/qr_code
applications/sample/wifi-iot/app/task5
applications/sample/wifi-iot/app/test_hr_not_used

